<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Web By Expense Handler </title>
</head>

<style>
  .float-container {
    padding: 20px;
  }
  .float-child {
    width: 50%;
    float: left;
    padding: 20px;
    opacity: 0.8;
    border-radius: 10px;
    max-width: 750px;
    max-height: 300px;
    text-emphasis-color: wheat;
  }
  html,
  body {
    margin: 0;
    padding: 1px;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: 0;
  }
  body {
    background-color: rgb(122, 202, 255);
  }
  .capitilize {
    text-transform: capitalize;
  }
</style>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/user">ExpenseManager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/user">Home <span class="sr-only">(current)</span></a>
        </li>
  
      </ul>
      <form method="get" action="user/login"><a href="login"><button
            class="btn btn-outline-success mr-sm-2 my-2 my-sm-0" type="submit">Login</button></a> </form>
      <form method="get" action="user/signup"><a href="./signUp.ejs"><button 
            class="btn btn-outline-primary my-2 my-sm-0" type="submit">SignUp</button></a></form>
    </div>
    </nav>
    </header>
  
    <body>