<%- include ("../partials/header")%>

<form action="/account/updateAccount" method="POST">
    <input type="text" name="accountId" value="<%= account._id %>" hidden></input>
    <label for="accountname">Enter Account Name:</label>
    <input type="text" name="name" value="<%= account.name %>" required>
    <input type="submit" value="submit" name="submit">
</form>

<%- include ("../partials/footer")%>